<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60"></body>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <img id="img-logo" src="assets/1go-logo1.png" alt="logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/home">HOME</a>
        </li>
        <li>
          <a routerLink="/about">ABOUT</a>
        </li>
        <li>
          <a routerLink="/services">SERVICES</a>
        </li>
        <li>
          <a routerLink="/jobSeeker">JOB SEEKER</a>
        </li>
        <li>
          <a routerLink="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVBAR -->


<br>
<br>

<router-outlet></router-outlet>

<div class="contact-us">
  <div (click)="toggleCollapse()" class="contact-header" role="button"> Contact Us
    <i class="more-less glyphicon" [class.glyphicon-plus]="isCollapsed" [class.glyphicon-minus]="!isCollapsed"></i>
  </div>

  <div *ngIf="!isCollapsed">

    <div class="card">

      <div class="p-t-0 p-b-10 contact-us-card collapse-card">
        <div class="textwidget">
          <h4>Corporates</h4>
          <p>Would you like us to assist in your search for premium talent?</p>
          <p>
            <!--Start Modal for Fraudulent-->
          </p>
          
          <p>
            <!--End Modal for Fraudulent-->
          </p>
          <p>
            <label for="">Phone: </label>
            <a class="link" href="tel:+91-9730969960"> +91-9730969960</a>
          </p>
          <div class="clearfix">
            <label for="">E-mail: </label>
            <a class="link" href="mailto:ankurs@1gosolutions.com" onclick="gtag('event', 'Click', {'event_category': 'Client Email', 'event_label': 'Done'});">
              ankurs@1gosolutions.com
            </a>
          </div>
          <div class="clearfix"></div>
          <hr>
          <h4>Candidates</h4>
          <p>Are you looking for the right career opportunity?</p>
          <p>
            <label for=""></label>
            <a class="link" routerLink= "/jobSeeker">Submit your CV</a>
          </p>
          <div class="clearfix">
            <label for="">Beware: </label>
            <a class="link" href="#" data-toggle="modal" data-target="#Modal1"> Fraudulent recruitment activity</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>

  </div>

</div>
<!-- Warning pop up-->
<div class="additional-modal">
    <div id="Modal1" class="modal"  role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            <h2>Warning against fraudulent recruitment activity</h2>
            <p>Our attention has been drawn to the fraudulent recruitment activities by individuals posing as ABC Consultants
              or Employees of ABC Consultants, trying to trick candidates to part with large sums of money by promising
              them job offers.</p>
            <p>These individuals are also wrongfully using the company’s registered trademark as well as using fake
              and copied website to legitimise their activities to lure innocent candidates to fall into this trap.</p>
            <p>
              <strong>ABC Consultants does not charge any fee at any stage of its recruitment process from the candidate.</strong>
            </p>
            <p>We would like to categorically state that these communications are purely made with the intent to defraud
              the candidates. The company has not authorised any individual to acquire any kind of payment from candidates,
              towards our company or towards any individual in the recruitment process.</p>
            <p>If you have any questions or concerns, please contact
              <a href="mailto:ankurs@1gosolutions.com">ankurs@1gosolutions.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- FOOTER -->
<!-- <footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>GO TO TOP</p>
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Why Us?</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa?</p>

        </div>
        <!-- Grid column -->
        <br>
        <br>
        <br>
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

                <div class="mb-5 flex-center">
      
                  <!-- Facebook -->
                  <a class="fb-ic">
                    <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!-- Google +-->
                  <a class="gplus-ic">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!--Linkedin -->
                  <a class="li-ic" href="https://www.linkedin.com/company/14431163/admin/updates/">
                    <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>

                </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
       <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
<!-- FOOTER -->