<!-- Container (Services Section) -->
<br>
<br>
<div class="container">
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <hr>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-group logo-small"></i>
      <h4>Permanent Staffing Solutions</h4>
    </div>
    <div class="col-sm-4">

      <i class="fa fa-search-plus logo-small"></i>
      <h4>Flexi or IT Staffing Solutions</h4>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-handshake-o logo-small"></i>
      <h4>Off Role Processing</h4>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-user-plus logo-small"></i>
      <h4>Reqruiters Training Program</h4>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-street-view logo-small"></i>
      <h4>Employee Previous Background Verification</h4>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-line-chart logo-small"></i>
      <h4 style="color:#303030;">Market Intelligence</h4>
    </div>
  </div>

  <br>
  <br>

  <div>
    <h2>Staffing Solutions</h2>
    <p>In today’s market, it is important to have the right talent in your team. Finding the right candidate from reviewing
      resumes and identifying quality candidate is time-consuming and potentially costly which leads to the loss in production.
      1Go family finds the right candidate for a permanent position in your firm. For right candidate first screening is
      done from our side by our experts in different fields and simultaneously we do the background verification for the
      same candidate. The screening is done on the basis of the job description provided by you. Once the candidate fulfills
      the criteria then only he/she is sent to you for the interview. This will lead to your solutions in 1 Go.
    </p>

    <br>
    <br>

    <h2>Why us?</h2>
    <p>Before we go for a candidate our team do research on your requirements in detail, undertake comprehensive research on
      the industry and create interest around your company to attract the best talent. We will customize our talent search
      to your specific requirements so that we can shortlist the individuals or teams that are most capable of handling the
      unique challenges that they will face at the organization. Our experience in permanent staffing services 1Go use client
      specific and consultative strategies to pick out just the right fit for your company's culture and business needs.
      We have a streamlined sourcing and delivery process which minimizes all costs that are usually incurred when you recruit,
      onboard, and train new employees.</p>

    <br>
    <br>

    <h2>Our Process</h2>
    <br>
    <h4>Understanding your requirements</h4>
    <p>Our first process is understanding you and your requirement. We give our full strategic effort to understand your business,
      long term and short-term objectives, company culture, and background. If required we will also visit your workplace
      to understand your needs as per your convenience.</p>
    <br>
    <h4>Customized Recruitment Strategy</h4>
    <p>Once we gather all the information, we will develop a recruiting plan just for you. We have a large network of job seekers
      and a talented candidate who may currently not actively looking for a new job, but may be interested in a good offer.
      We also use our alliances, personal networks and contacts at civic and professional organizations to widen your requirement.</p>
    <br>
    <h4>Shortlisting and verification of the candidate</h4>
    <p>Once we find the relevant candidate, our team will start with customized interviews and shortlisting process. The top
      candidates will have hard and soft skills that are necessary for the profile. Simultaneously our team also conduct
      a background check and verification of previous work experience and professional references. Among these cluster of
      the candidate, we will forward you the profile and we work closely with you to help you select the best candidate and
      finalize the job offer.
    </p>
    <br>
    <h4>Job Offer and follow up</h4>
    <p>1Go will also help you with the final job offer, managing negotiations, and having secured signed offer letter from the
      candidate. In the current dynamic market, it is hard to find reliable talent that meets your unique needs. 1Go family
      helps your staffing problem by sourcing and recruiting the best talent who have the potential to become the permanent
      asset for your organization.
    </p>

  </div>
</div>
</div>