<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <hr>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-group logo-small"></i>
        <h4>Permanent Staffing Solutions</h4>
      </div>
      <div class="col-sm-4">
 
        <i class="fa fa-search-plus logo-small"></i>
        <h4>Flexi or IT Staffing Solutions</h4>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-handshake-o logo-small"></i>
        <h4>Off Role Processing</h4>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-user-plus logo-small"></i>
        <h4>Reqruiters Training Program</h4>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-street-view logo-small"></i>
        <h4>Employee Previous Background Verification</h4>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-line-chart logo-small"></i>
        <h4 style="color:#303030;">Market Intelligence</h4>
      </div>
    </div>
  </div>