<br>
<br>
<div class="container">
<form id="contact" class="container-fluid bg-grey" #candidateForm= "ngForm" (ngSubmit)= "saveCandidate()">
  <h2 class="text-center">Submit Your Resume</h2>
  <hr>
  <div class="row">
    <div class="form-group">
      <label for="name">Name*</label>
      <input [(ngModel)]= "candidate.name" name="name" class="form-control" id="name" type="text" required #name= "ngModel">
      <div class="alert alert-danger" *ngIf= "name.touched && !name.valid">Name is Required</div>

      <br>
      <label for="email">Email*</label>
      <input [(ngModel)]= "candidate.email" name="email" class="form-control" id="email" type="email" required #email= "ngModel">
      <div class="alert alert-danger" *ngIf= "email.touched && !email.valid">Email is Required</div>

      <br>
      <label for="mobile">Mobile No.*</label>
      <input [(ngModel)]= "candidate.mobile" name="mobile" class="form-control" id="phone" type="number" required #mobile= "ngModel">
      <div class="alert alert-danger" *ngIf= "mobile.touched && !mobile.valid">Mobile No. is Required</div>

      <br>
      <label for="organization">Company Name/ Fresher*</label>
      <input [(ngModel)]= "candidate.organisation" name="organization" class="form-control" id="company" type="text" required>
      <br>
      <label for="designation">Designation*</label>
      <input [(ngModel)]= "candidate.designation" name="designation" class="form-control" id="designation" type="text" required>
      <br>
      <label for="experience">Experience(in years)*</label>
      <input [(ngModel)]= "candidate.experience" name="experience" class="form-control" id="experience" type="number" required>
      <br>
      <label for="industry">Industry*</label>
      <select class="form-control" [(ngModel)]= "candidate.industry" name="industry">
        <option value="Accounts, Finance, Tax, Company Secretary, Audit">Accounts, Finance, Tax, Company Secretary, Audit</option>
        <option value="Analytics & Business Intelligence">Analytics & Business Intelligence</option>
        <option value="Architecture, Interior Design">Architecture, Interior Design</option>
        <option value="Defence Forces, Security Services">Defence Forces, Security Services</option>
        <option value="Design, Creative, User Experience">Design, Creative, User Experience</option>
        <option value="Engineering Design, R&D">Engineering Design, R&D</option>
        <option value="Executive Assistant, Front Office, Data Entry">Executive Assistant, Front Office, Data Entry</option>
        <option value="Export, Import, Merchandising">Export, Import, Merchandising</option>
        <option value="Fashion Designing, Merchandising">Fashion Designing, Merchandising</option>
        <option value="Financial Services, Banking, Investment, Insurance">Financial Services, Banking, Investment, Insurance</option>
        <option value="Hotels, Restaurants">Hotels, Restaurants</option>
        <option value="HR, Recruitment, Administration, IR">HR, Recruitment, Administration, IR</option>
        <option value="IT Hardware, Technical Support, Telecom Eng">IT Hardware, Technical Support, Telecom Eng</option>
        <option value="IT Software - Application Programme, Maintenance">IT Software - Application Programme, Maintenance</option>
        <option value="IT Software - Client / Server Programming">IT Software - Client / Server Programming</option>
        <option value="IT Software - DBA, Data warehousing">IT Software - DBA, Data warehousing</option>
        <option value="IT Software - eCommerce, Internet Technologies">IT Software - eCommerce, Internet Technologies</option>
        <option value="IT Software - Embed, EDA, VLSI, ASIC, Chip Design">IT Software - Embed, EDA, VLSI, ASIC, Chip Design</option>
        <option value="IT Software - ERP, CRM">IT Software - ERP, CRM</option>
        <option value="IT Software - Mainframe">IT Software - Mainframe</option>
        <option value="IT Software - Middleware">IT Software - Middleware</option>
        <option value="IT Software - Mobile">IT Software - Mobile</option>
        <option value="IT Software - Network Administration, Security">IT Software - Network Administration, Security</option>
        <option value="IT Software - Other">IT Software - Other</option>
        <option value="IT Software - QA & Testing">IT Software - QA & Testing</option>
        <option value="IT Software - System Programming">IT Software - System Programming</option>
        <option value="IT Software - Systems, EDP, MIS">IT Software - Systems, EDP, MIS</option>
        <option value="IT Software - Telecom Software">IT Software - Telecom Software</option>
        <option value="ITES, BPO, KPO, LPO, Customer Service, Operation">ITES, BPO, KPO, LPO, Customer Service, Operation</option>
        <option value="Journalism, Editing, Content">Journalism, Editing, Content</option>
        <option value="Legal, Regulatory, Intellectual Property">Legal, Regulatory, Intellectual Property</option>
        <option value="Marketing, Advertising, MR, PR, Media Planning">Marketing, Advertising, MR, PR, Media Planning</option>
        <option value="Medical, Healthcare, R&D, Pharma, Biotechnology">Medical, Healthcare, R&D, Pharma, Biotechnology</option>    
        <option value="Packaging">Packaging</option>
        <option value="Production, Manufacturing, Maintenance">Production, Manufacturing, Maintenance</option>
        <option value="Sales, Retail, Business Development">Sales, Retail, Business Development</option>
        <option value="Self Employed, Entrepreneur, Independent Cons.">Self Employed, Entrepreneur, Independent Cons.</option>
        <option value="Shipping">Shipping</option>
        <option value="Site Engineering, Project Management">Site Engineering, Project Management</option>
        <option value="Strategy, Management Consulting, Corp. Planning">Strategy, Management Consulting, Corp. Planning</option>
        <option value="Supply Chain, Logistics, Purchase, Materials">Supply Chain, Logistics, Purchase, Materials</option>
        <option value="Teaching, Education, Training, Counselling">Teaching, Education, Training, Counselling</option>
        <option value="Top Management">Top Management</option>
        <option value="Travel, Tours, Ticketing, Airlines">Travel, Tours, Ticketing, Airlines</option>
        <option value="TV, Films, Production, Broadcasting">TV, Films, Production, Broadcasting</option>
        <option value="Other">Other</option>
      </select>

      <br>
      <label for="location">Location*</label>
      <select [(ngModel)]= "candidate.location" class="form-control" name="location">
        <option value="Delhi-NCR">Delhi-NCR</option>
        <option value="Pune">Pune</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Chennai">Chennai</option>
        <option value="Ahmednagar">Ahmednagar</option>
        <option value="Ahmedabad">Ahmedabad</option> 
      </select>
      <br>
      <label for="salary">Current/ Last Annual Salary(INR)*</label>
      <input class="form-control" id="salary" [(ngModel)]= "candidate.salary" name="salary"  type="number" required>

      <br>
      <div class="form-group">
        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>
         
        <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)">
        </label>
        <button class="btn btn-success" [disabled]="!selectedFiles"
	      (click)="upload()">Upload</button>
      </div>
      <br>
      
      <button class="btn btn-primary pull-left" type="submit" [disabled]="candidateForm.invalid">Submit</button>
    </div>
  </div>
  <br>
</form>

{{ candidateForm.value | json }}
<br>
{{ candidate | json }}

</div>