<br>
<br>
<div class="container">
<form id="contact" class="container-fluid bg-grey" #candidateForm= "ngForm">
  <h2 class="text-center">Submit Your Resume</h2>
  <hr>
  <div class="row">
    <div class="form-group">
      <input [(ngModel)]= "name" name="name" class="form-control" id="name" placeholder="Name*" type="text" required #nameControl= "ngModel">
      <div class="alert alert-danger" *ngIf= "nameControl.touched && !nameControl.valid">Name is Required</div>

      <br>
      <input [(ngModel)]= "email" name="email" class="form-control" id="email" placeholder="Email*" type="email" required #emailControl= "ngModel">
      <div class="alert alert-danger" *ngIf= "emailControl.touched && !emailControl.valid">Email is Required</div>

      <br>
      <input [(ngModel)]= "mobile" name="mobile" class="form-control" id="phone" placeholder="Mobile No.*" type="number" required #mobileControl= "ngModel">
      <div class="alert alert-danger" *ngIf= "mobileControl.touched && !mobileControl.valid">Mobile No. is Required</div>

      <br>
      <input [(ngModel)]= "organisation" name="organisation" class="form-control" id="company" placeholder="Company Name/ Fresher*" type="text" required>
      <br>
      <input [(ngModel)]= "designation" name="designation" class="form-control" id="designation" placeholder="Designation*" type="text" required>
      <br>
      <input [(ngModel)]= "experience" name="experience" class="form-control" id="experience" placeholder="Experience(in years)*" type="number" required>
      <br>
      <select class="form-control" [(ngModel)]= "industry" name="industry">
        <option value="0" style="display:none;">Industry*</option>
        <option value="Accounts, Finance, Tax, Company Secretary, Audit">Accounts, Finance, Tax, Company Secretary, Audit</option>
        <option value="63">Analytics &amp; Business Intelligence</option>
        <option value="64">Architecture, Interior Design</option>
        <option value="65">Defence Forces, Security Services</option>
        <option value="66">Design, Creative, User Experience</option>
        <option value="67">Engineering Design, R&amp;D</option>
        <option value="68">Executive Assistant, Front Office, Data Entry</option>
        <option value="69">Export, Import, Merchandising</option>
        <option value="70">Fashion Designing, Merchandising</option>
        <option value="71">Financial Services, Banking, Investment, Insurance</option>
        <option value="72">Hotels, Restaurants</option>
        <option value="73">HR, Recruitment, Administration, IR</option>
        <option value="75">IT Hardware, Technical Support, Telecom Eng</option>
        <option value="76">IT Software - Application Programme, Maintenance</option>
        <option value="77">IT Software - Client / Server Programming</option>
        <option value="78">IT Software - DBA, Data warehousing</option>
        <option value="79">IT Software - eCommerce, Internet Technologies</option>
        <option value="80">IT Software - Embed, EDA, VLSI, ASIC, Chip Design</option>
        <option value="81">IT Software - ERP, CRM</option>
        <option value="82">IT Software - Mainframe</option>
        <option value="83">IT Software - Middleware</option>
        <option value="84">IT Software - Mobile</option>
        <option value="85">IT Software - Network Administration, Security</option>
        <option value="86">IT Software - Other</option>
        <option value="87">IT Software - QA &amp; Testing</option>
        <option value="88">IT Software - System Programming</option>
        <option value="89">IT Software - Systems, EDP, MIS</option>
        <option value="90">IT Software - Telecom Software</option>
        <option value="74">ITES, BPO, KPO, LPO, Customer Service, Operation</option>
        <option value="91">Journalism, Editing, Content</option>
        <option value="92">Legal, Regulatory, Intellectual Property</option>
        <option value="93">Marketing, Advertising, MR, PR, Media Planning</option>
        <option value="94">Medical, Healthcare, R&amp;D, Pharma, Biotechnology</option>
        <option value="95">Other</option>
        <option value="96">Packaging</option>
        <option value="97">Production, Manufacturing, Maintenance</option>
        <option value="98">Sales, Retail, Business Development</option>
        <option value="99">Self Employed, Entrepreneur, Independent Cons.</option>
        <option value="100">Shipping</option>
        <option value="101">Site Engineering, Project Management</option>
        <option value="102">Strategy, Management Consulting, Corp. Planning</option>
        <option value="103">Supply Chain, Logistics, Purchase, Materials</option>
        <option value="104">Teaching, Education, Training, Counselling</option>
        <option value="105">Top Management</option>
        <option value="106">Travel, Tours, Ticketing, Airlines</option>
        <option value="107">TV, Films, Production, Broadcasting</option>
      </select>

      <br>
      <select [(ngModel)]= "location" class="form-control" name="location">
        <option value="0">Location*</option>

        <option value="1611">Adilabad</option>

        <option value="9">Agartala</option>
        <option value="1421">Agoura Hills</option>
        <option value="10">Agra</option>
        <option value="1">Ahmedabad</option>
        <option value="11">Ahmednagar</option>

      </select>
      <br>
      <input class="form-control" id="salary" [(ngModel)]= "salary" name="salary" placeholder="Current/ Last Annual Salary(INR)*" type="number" required>

      <br>
      <!-- <div class="form-group">
        <label for="exampleFormControlFile1">Upload Your Resume</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <br> -->
      <button class="btn btn-primary pull-left" type="submit">Submit</button>
    </div>
  </div>
  <br>
</form>

{{ candidateForm.value | json }}

</div>